@import 'main.scss';
@import 'rozporiadok-roboty.scss';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  display: flex;
  margin-left: 40px;
}

.logo__text {
  color: #fff;
}

.logo__prapor {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.logo__prapor-blue {
  background: #2a8bfb;
  width: 10px;
  height: 20px;
}

.logo__prapor-yellow {
  background: #f6d106;
  color: #f6d106;
  width: 10px;
  height: 20px;
}

.logo__text-site,
.logo__text-title {
  font-size: 18px;
  font-family: 'Proba Pro';
}

.nav {
  height: 70px;
}

.nav__li {
  list-style-type: none;
}

.nav__inner {
  display: flex;
  height: 70px;
  align-items: center;
  background: #254e8f;
  position: relative;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  font-size: 18px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  background: #2d5ca6;
}

.noeye {
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 40px;
}

.content__inner {
  margin-left: 60px;
  word-wrap: break-word;
  margin-right: 60px;
}

.noeye__text {
  margin-left: 20px;
}

.menu {
  display: flex;
}

.menu__li {
  list-style: none;
  display: inline-block;
}

.menu__link {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
  font-size: 19px;
}


.menu__li:hover {
  background: #244a85;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #244a85;
  column-count: 3;
  column-gap: 10px;
  left: 0;
  width: 100%;
  height: 204px;
  padding: 0;
  padding-top: 40px;
  z-index: 2;
}


.search__block {
  display: none;
  position: absolute;
  background-color: #244a85;
  left: 0;
  width: 100%;
  height: 204px;
  padding: 0;
  padding-top: 40px;
  z-index: 2;
}

.search__block-title, .search__block-form {
  margin-left: 50px;
}

.search__block-input {
  width: 50%;
  height: 40px;
  background: rgba(0.0, 0.0, 0.0, 0.0);
  color: #fff;
  font-size: 24px;
}

.search__block-btn {
  background: #FFE358;
  height: 50px;
  width: 110px;
}



.submenu__li {
  display: block;
  width: 250px;
  margin-bottom: 50px;
}


.submenu__link {
  padding: 10px;
  color: #fff;
  font-size: 19px;

}

.intro__inner {
  background: #2d5ca6;
  height: 220px;
}

.menu__li:hover .submenu {
  display: block;
}

.map {
  margin-left: 120px;
}


.map__inner {
  display: grid;
    grid-template-columns: repeat(3, 1fr); // Создаем колонки с равным размером
}

.map__items {
  list-style-type: none;
  display: inline-block;
}

.map__subitems {
  border-left: 2px solid #2d5ca6;
  list-style-type: none;
}

.map__item a,
.map__subitem a {
  font-size: 18px;
  text-decoration: none;
  color: #2d5ca6;
}

.map__item,
.map__subitem {
  margin-bottom: 10px;
}

.map__subitems {
  padding-top: 10px;
}

.list__items {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr;
}

.list__item {
  margin-bottom: 30px;
}

.list__item a,
.list__subitem a {
  font-size: 18px;
  text-decoration: none;
  color: #2d5ca6;
}

.search {
  display: flex;
  color: #fff;
  align-items: center;
  margin-left: 40px;
}

.search__text {
  margin-left: 20px;
  font-size: 20px;
}

.search__text {
  display: inline-block;
}

.search__text:hover .search__block {
  display: block;
}



.search__text:hover {
  background: #244a85;
}

.footer {
  height: 116px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #C2C5CB;
  padding-top: 20px;
}

.social {
  display: flex;
  list-style-type: none;
}

.social__item {
  margin-right: 20px;
}

.copyright {
  width: 750px;
  font-size: 16px;
  color: #6D727C;
  font-weight: 400;
  line-height: 24px;
}


.modal {
  width: 311px;
  height: 369px;
  position: relative;
}

.modal ul {
  list-style-type: none;
  position: absolute;
  top: 15%;
  left: 10%;
  display: flex;
  flex-direction: column;
}

.modal ul li  {
  font-size: 20px;
  font-weight: 600;
  color: #FFFFFF;
  margin-bottom: 20px;
  
}

.modal ul li a{
border-bottom: 2px solid transparent;
  color: #FFFFFF;
  text-decoration: none;
}

.modal ul li:hover {
  font-weight: 600;
  color:#FFE358;
  
}

.modal ul li:hover a {
  border-bottom-color: #FFE358;
    color: #FFE358;
    transition: border-bottom-color 0.5s;
}