.blocks {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.events {
  width: 350px;
}

.events__title {
  font-size: 28px;
}

.event {
  width: 350px;
}

.videostories {
  margin-top: 60px;
  width: 350px;
}

.videostories__title {
  font-size: 28px;
}

.btns {
  float: right;
}

.announcements {
  width: 350px;
}

.announcement {
  margin-bottom: 40px;
}

.news {
  width: 350px;
}

.links__list {
  display: flex;
  justify-content: space-between;
}

.breadcrumb {
  display: flex;
  list-style-type: none;
}

.breadcrumb__item + .breadcrumb__item::before {
  content: ">";
  margin: 20px;
}

td {
  padding-right: 60px;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.logo {
  display: flex;
  margin-left: 40px;
}

.logo__text {
  color: #fff;
}

.logo__prapor {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.logo__prapor-blue {
  background: #2a8bfb;
  width: 10px;
  height: 20px;
}

.logo__prapor-yellow {
  background: #f6d106;
  color: #f6d106;
  width: 10px;
  height: 20px;
}

.logo__text-site,
.logo__text-title {
  font-size: 18px;
  font-family: "Proba Pro";
}

.nav {
  height: 70px;
}

.nav__li {
  list-style-type: none;
}

.nav__inner {
  display: flex;
  height: 70px;
  align-items: center;
  background: #254e8f;
  position: relative;
}

.nav__link {
  text-decoration: none;
  color: #fff;
  margin-right: 40px;
  font-size: 18px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  background: #2d5ca6;
}

.noeye {
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 40px;
}

.noeye__text {
  margin-left: 20px;
}

.menu {
  display: flex;
}

.menu__li {
  list-style: none;
  display: inline-block;
}

.menu__link {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #fff;
}

.menu__li:hover {
  background: #244a85;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #244a85;
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 10px;
       column-gap: 10px;
  left: 0;
  width: 100%;
  height: 204px;
  padding: 0;
  padding-top: 40px;
}

.submenu li {
  display: block;
  width: 250px;
  margin-bottom: 50px;
}

.submenu li a {
  padding: 10px;
  color: #fff;
}

.intro__inner {
  background: #2d5ca6;
  height: 220px;
}

.menu__li:hover .submenu {
  display: block;
}

.map__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.map__items {
  list-style-type: none;
  display: inline-block;
}

.map__subitems {
  border-left: 2px solid #2d5ca6;
  list-style-type: none;
}

.map__item a,
.map__subitem a {
  font-size: 18px;
  text-decoration: none;
  color: #2d5ca6;
}

.map__item,
.map__subitem {
  margin-bottom: 10px;
}

.map__subitems {
  padding-top: 10px;
}

.list__items {
  display: grid;
  list-style-type: none;
  grid-template-columns: 1fr 1fr 1fr;
}

.list__item {
  margin-bottom: 30px;
}

.list__item a,
.list__subitem a {
  font-size: 18px;
  text-decoration: none;
  color: #2d5ca6;
}

.search {
  display: flex;
  color: #fff;
  align-items: center;
  margin-left: 40px;
}

.search__text {
  margin-left: 20px;
}

.footer {
  height: 116px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #C2C5CB;
  padding-top: 20px;
}

.social {
  display: flex;
  list-style-type: none;
}

.social__item {
  margin-right: 20px;
}

.copyright {
  width: 750px;
  font-size: 16px;
  color: #6D727C;
  font-weight: 400;
  line-height: 24px;
}