.blocks {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.events {
  width: 350px;
}

.events__title {
  font-size: 28px;
}

.event {
  width: 350px;
}

.videostories {
  margin-top: 60px;
  width: 350px;
}

.videostories__title {
  font-size: 28px;
}

.btns {
  float: right;
}

.announcements {
  width: 350px;
}

.announcement {
  margin-bottom: 40px;
}

.news {
  width: 350px;
}

.links__list {
  display: flex;
  justify-content: space-between;
}